.console-board {
    background-color: var(--console);
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: fit-content;
    height: fit-content;
    position: relative;
    box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1),
        inset 4px 4px 20px 0px rgb(255 255 255 / 20%),
        inset -4px -4px 20px 0px rgb(0 0 0 / 0%);
}

.console-body {
    background-color: var(--base-color);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 9px 9px 18px #c3c3c3, -9px -9px 18px #c3c3c3;
}

.status-bar {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
    align-items: center;
}

.leds{
    display: flex;
    margin-bottom: 20px;
}

.status-led {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    
    .led {
        border-radius: 10px;
        display: flex;
        margin: 10px;
        width: 30px;
        height: 30px;
        color: gainsboro;
        box-shadow: inset 4px 4px 10px var(--dark-shadow),
            inset -4px -4px 10px var(--bright-shadow);

        .light {
            border-radius: 3px;
            margin: auto;
            width: 10px;
            height: 10px;
            background-color: rgba(128, 128, 128, 0.232);
            /* transition: 200ms; */

            &.on {
                background: radial-gradient(#aaffaa, var(--light-color));
                box-shadow: 0px 0px 12px 6px var(--light-color);

            }
        }
    }

}

.image-samples{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-bottom: 20px;
    #samples{
        border-radius: 10px;
        display: flex;
        width: 300px;
        height: 50px;
        color: gainsboro;
        /* box-shadow: inset 4px 4px 10px var(--dark-shadow),
            inset -4px -4px 10px var(--bright-shadow); */
        align-items: center;
        justify-content: space-evenly;
        img{
            height: 80px;
            width: 80px;
            border-radius: 10px;
            margin: 1px solid black;
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
            cursor: pointer;
            box-shadow:  4px 4px 10px var(--dark-shadow),
             -4px -4px 10px var(--bright-shadow);

             &:disabled,
            &:active {
                outline: none;
                background: var(--base-color);
                box-shadow: inset 4px 4px 10px var(--dark-shadow),
                inset -4px -4px 10px var(--bright-shadow);
            }
            
        }
    }
}
    
.result-bar {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-top: 0px;

}

.display {
    font-size: 20px;
    padding: 10px;
    background: var(--base-color);
    box-shadow: inset 4px 4px 5px var(--dark-shadow),
        inset -4px 4px 5px var(--bright-shadow);
    border-radius: 10px;
    width: fit-content;
    color: #3a3238d7;
    #img_canvas {
        height: 320px;
        width: 320px;
        cursor: pointer;
    }
    user-select: none;
    #zoomed_img_canvas,
    #zoomed_compressed_img_canvas {
        height: 320px;
        width: 320px;
    }

    #zoom_canvas {
        height: 160px;
        width: 160px;
        cursor: pointer;
    }

}
#single_compression_reduction{
    width: 100px;
    text-align: center;
    padding:8px 16px;
    margin: 10px;
}

.screws {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* Evita che le viti interferiscano con il click */
}

.screw {
    width: 12px;
    height: 12px;
    background-color: gray;
    border-radius: 50%;
    position: absolute;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    margin: 12px;

    &.top {
        top: 20px;
    }

    &.bottom {
        bottom: 20px;
    }

    &.left {
        left: 20px;
    }

    &.right {
        right: 20px;
    }
}

.hint{
    text-transform: lowercase;
    user-select: none;
}

.zoom-image {
    align-items: center;
    justify-content: space-around;
}

.arrow{
    margin: 0 !important;
    font-size: 25px !important;
    color: #3a3238d7;
}


