input {
    margin: 10px;
    font-family: 'Montserrat', serif;
    font-weight: bold;
    border-radius: 8px;
    background: var(--base-color);
    box-shadow: 4px 4px 10px 2px var(--dark-shadow), 
                -4px -4px 10px 5px var(--bright-shadow);

    &:disabled,
    &:active {
        outline: none;
        background: var(--base-color);
        box-shadow: inset 4px 4px 10px 2px var(--dark-shadow), 
        inset -4px 10px 5px var(--bright-shadow);
    }
}


input[type=button] {
    font-weight: bold;

    border: none;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

input[type=button]:disabled {
    cursor: default;
}



input[type="file"] {
    appearance: none;
}

.custom-file-picker {
    font-size: 24px;
    margin: auto;
    border-radius: 5px;
    padding: 16px;
    background: var(--base-color);
    box-shadow: 5px 5px 10px var(--dark-shadow),
        -5px -5px 10px var(--bright-shadow);
    cursor: pointer;
    user-select: none;
    &:active {
        outline: none;
        background: var(--base-color);
        box-shadow: inset 5px 5px 10px var(--dark-shadow),
            inset -5px -5px 10px var(--bright-shadow);
    }
}

#up_img {
    box-shadow: inset 9px 9px 18px var(--dark-shadow), inset -9px -9px 18px var(--bright-shadow);
}


input[type="range"] {
    appearance: none;
    width: 150px;
    height: 8px;
    background: var(--base-color);
    border-radius: 5px;
    box-shadow: inset 3px 3px 6px var(--dark-shadow), inset -3px -3px 6px var(--bright-shadow);
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 20px;
    background: var(--base-color);
    border-radius: 8px;
    box-shadow: 3px 3px 6px var(--dark-shadow), -3px -3px 6px var(--bright-shadow);
    cursor: pointer;
}


#state_title {
    text-align: center;
    max-width: 400px;
    color: #666;
}

#process_controller {
    padding: 0px 20px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#upload_controller {
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 600px;
    margin: auto;
}


.controller {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

}

#speed {
    width: 50px;
    text-align: center;
    user-select: none;
}


.label {
    user-select: none;
    text-transform: uppercase;
    color: #666;
    font-family: monospace;
}