input {
    margin: 10px;
    font-family: monospace;
    border-radius: 8px;
    background: var(--base-color);
    box-shadow: 4px 4px 10px 2px var(--dark-shadow),
        -4px -4px 10px 5px var(--bright-shadow);
    color: #3a3238d7;
    &:disabled,
    &:active {
        outline: none;
        background: var(--base-color);
        box-shadow: inset 4px 4px 10px 2px var(--dark-shadow),
            inset -4px 10px 5px var(--bright-shadow);
    }
}

input[type=button] {
    font-weight: bold;
    border: none;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}

input[type=button]:disabled {
    cursor: default;
}

input[type="file"] {
    appearance: none;
}

.custom-file-picker {
    font-size: 24px;
    margin: auto;
    border-radius: 10px;
    padding: 8px 16px;
    background: var(--base-color);
    box-shadow: 5px 5px 10px var(--dark-shadow),
        -5px -5px 10px var(--bright-shadow);
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;

    &:active {
        outline: none;
        background: var(--base-color);
        box-shadow: inset 5px 5px 10px var(--dark-shadow),
            inset -5px -5px 10px var(--bright-shadow);
    }
}

#up_img {
    box-shadow: inset 9px 9px 18px var(--dark-shadow), inset -9px -9px 18px var(--bright-shadow);
}

input[type="range"] {
    appearance: none;
    width: 150px;
    height: 8px;
    background: var(--base-color);
    border-radius: 5px;
    box-shadow: inset 3px 3px 6px var(--dark-shadow), inset -3px -3px 6px var(--bright-shadow);
    outline: none;

}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 20px;
    background: var(--base-color);
    border-radius: 8px;
    box-shadow: 3px 3px 6px var(--dark-shadow), -3px -3px 6px var(--bright-shadow);
    cursor: pointer;
}

#controllers {
    display: flex;
    flex-direction: column;
}

.controller {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.label {
    margin: 0;
    user-select: none;
    text-transform: uppercase;
    color: #666;
    font-family: monospace;
}