@import "css/scrollbar.css";
@import "css/controls.css";
@import "css/canvas.css";
@import "css/paper-dialog.css";
@import "css/console.css";
@import "css/matrix.css";

/* https://coolors.co/519872-db5375-dfdedd-98ff54-3a3238 */
:root{
  /* --bg: #555f66; */
  --bg: #3A3238;
  --color: #dfdedd;
  --console: #cdcbc8;
  --hover-color: #e5e2de;
  --gradient: linear-gradient( -90deg, #e0dfde, #dbd7d5);

  --base-color: #dfdedd;
  --dark-shadow: #bebebe;
  --bright-shadow: #f8f8f8;

  --light-color: #98FF54;
  --pixel-color: #DB5375;
  --number-color: #1E152A69;
} 

html, body {
  font-family: monospace;
  background: var(--bg);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.col{
  margin:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr{
  color: #666;margin-left: 20px;margin-right: 20px;
}