@import "css/scrollbar.css";
@import "css/controls.css";
@import "css/canvas.css";
@import "css/paper-dialog.css";
@import "css/console.css";
@import "css/matrix.css";

:root{
  --bg: #555f66;
  --color: #dfdedd;
  --console: #cdcbc8;
  --hover-color: #e5e2de;
  --gradient: linear-gradient( -90deg, #e0dfde, #dbd7d5);

  --base-color: #dfdedd;
  --dark-shadow: #bebebe;
  --bright-shadow: #f8f8f8;
} 

html, body {
  font-family: monospace;
  background: var(--bg);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.col{
  margin:20px;
  display: flex;
  flex-direction: column;
}